.wrapper-footer{
    margin-top: 30px;
    height: auto;
    width: 100%;
    background-color: #000;
    padding: 10px;
}
.ttlh{
    height: auto;
    width: 100%;
    padding: 5px;
}
.ttlh p{
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.ttlh span{
    height: 35px;
    width: 100%;
    padding: 2px 0;
    margin: 2px 0;
    font-family: var(-roboto);
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    text-align: start;
    color: #fff;
}

.addr{
    height: auto;
    width: 100%;
    padding: 5px;
    font-family: var(-roboto);
}
.addr p{
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.addr span{
    height: 35px;
    width: 100%;
    padding: 2px 0;
    margin: 2px 0;
    font-family: var(-roboto);
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    text-align: start;
    color: #fff;
}
.facebook{
    height: 32px;
    width: 32px;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    margin-left: 2px;
    background-color: rgb(9, 121, 234);
}
.zalo{
    height: 32px;
    width: 32px;
    background-color: rgb(9, 121, 234);
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    margin-left: 2px;
}


.ig{
    font-size: 35px;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

.qr-footer{
    font-size: 150px;
    height: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}